.performance{
    padding-top: 180px;
}
.performance .row{
    /* align-items: center; */
    justify-content: center;
    gap: 2rem;
    padding: 20px 0;
}
.performance .cards{
    background-color: rgba(0, 174, 0, 0.826);
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.performance .cards .card_title{
    font-size: 1.8rem;
    margin: 15px 20px;
    color: var(--primary-color);
    font-weight: 500;
}
.performance .cards .card_body{ 
    padding: 10px 20px;
}
.performance .cards .card_body p{
    font-size: 17px;
    color: var(--primary-color);
    word-spacing: 2px;
    line-height: 1.8rem;
    word-wrap: break-word;
}
.card{
    border-radius: 0;
    margin: 20px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
}
.card .card_body{
    background-color: var(--primary-color);

}
.card .card_body .card_header{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
}
.card .card_body p{
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 300;
    word-wrap: break-word;
    word-break: keep-all;
    letter-spacing: 1px;
}