@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #fff;
    --secondary-color: #212121;
    --main-color: #4cbb17;
    --yellow: #f4d03f;
    --sun-yellow: #fffd37;
    --transparent-white: rgba(255, 255, 255, 0.15);
    --green: #0eaf39;
    --lime-green: #708238;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

body {
    background: transparent;
    font-size: 14px;
    color: #000;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','poppins',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 4rem;
    height: 3px;
    margin-top: 5px;
    background-color: var(--sun-yellow);
}


/* ===sections starts === */
section,
main {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    margin: auto;
    max-width: 1300px;
    width: 100%;
}
.row{
    padding: 0 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
